name: Build ImmortalWRT

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:
env:
  REPO_URL: https://github.com/immortalwrt/immortalwrt
  REPO_BRANCH: openwrt-23.05
  FEEDS_CONF: feeds.conf.default
  CONFIG_FILE: .config
  DIY_P1_SH: diy-part1.sh
  DIY_P2_SH: diy-part2.sh
  UPLOAD_BIN_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai
  GITHUB_TOKEN: ${{ secrets.TOKEN }}
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up build environment
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libncurses5-dev gawk git subversion libssl-dev gettext zlib1g-dev file python3

    - name: Clone ImmortalWRT
      run: |
        git clone https://github.com/JOJO-W/immortalwrt.git
        cd immortalwrt
        ./scripts/feeds update -a
        ./scripts/feeds install -a

    - name: Configure build
      run: |
        cd immortalwrt
        make defconfig
  #cp ./config.example .config  # 使用预定义的配置文件，你可以根据需要更改这一步    或者配置.sh文件添加插件的源码 并修改.config文件->再用make编译！(make是根据.config文件来确定要编译的东西的！)
        
    - name: Build ImmortalWRT
      run: |
        cd immortalwrt
        make -j$(nproc)
